body{
  background-color: #202020;
}  
.ligne{
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  margin-top:70px;
}
.cardd{
  border: 2px solid black;
  border-radius: 5px;
  width: 18rem;
  background-color: white;
  display: flex;
}
.text-card{
  font-size: 18px;
  color:black;
  display: flex;
  flex-direction:column ;
  display: flex;
}
p , .card-title{
  display: flex;
  justify-content:center;
}
.card-title{
  color: green;
  font-size: 20px;
}
.navbar{
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: linear-gradient(to right,#101010,#202020,#303030 );
  height: 70px;
}
h1{
  color: green;

}
.active{
  background-color: green;
  height: 70px;
  padding: 0;
  display: flex;
  align-items: center;
  padding: 0 10px 0 10px;
  color: white;
}
.active:hover{
  color: white;
  text-decoration-line: none;
}
.pp:hover{
  color: green;
  text-decoration-line:underline ;
}
.pp:hover{
  color: green;
  text-decoration-line:underline ;
}
.pp{
  display: flex;
  justify-content: space-between;
  padding: 10px;
  color: white;
  font-size: 18px;
  cursor: pointer;
}
.cont-navbar {
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
  align-items: center;
}
.madal{
  display: flex;
  justify-content: center;
  margin-top: 70px;
}
.buttomm{
  background-color: green;
  color: white;
  font-size: 35px;
  letter-spacing: 5px;
  font-style: italic;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  width: 70%;
  cursor: pointer;
  margin-top: 71px;
  margin-left: 105px;

}
label{
  color: green;
  font-size: 20px;
}
.hh{
  font-size: 20px;
  color: green;
}